@font-face {
		font-family: AcryleScript;
		src: url('font/AcryleScript.ttf');
	}
body {
    font-family: "Lato", sans-serif;
}
.navbar{
	min-height: 80px;
}
.navbar-inverse .navbar-nav>li>a {
    font-size: 20px;
}
.navbar-inverse{
    border-radius: 0px;
}
.navbar-nav>li>a {
    padding-top: 26px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #343a40;	
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    //padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.block{
	margin: 20px 50px; 
	padding: 10px; 
	border:1px solid #908abd;
	background-color: azure;
	border-radius: 15px;
}
.cursor{
	cursor: pointer;
}
.txtbox
{
	border-radius: 5px;
	background-color: #f6f6f6;
	border:1px solid gray;	
	padding: 5px 10px;	
	width: 70%;
	margin: 5px 10px;
}
.bttn, .success, .cancel{
	background-color: #dsfsad;
	padding: 5px 10px;
	border-radius: 5px;
	//width: 100px;
	border:0px;
	cursor: pointer;
}
.success:hover{
	background: #c9f3ce;
}
.cancel:hover{
	background: gray;
}
.pad{
		margin-top:5px;
	}